<h2>Check-ins</h2>
<div>
  <div>
    <ul>
      {{#if sortedCheckins}}
        {{#each sortedCheckins as |checkin|}}
          {{checkin-li checkin=checkin}}
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>

{{#if limit}}
  {{#link-to 'checkins' class="view-all"}}View all check-ins{{/link-to}}
{{/if}}
