<a href="{{company.url}}">
  <div class="image logo">
    <img src="{{company.logoUrl}}" />
  </div>
  <div class="content">
    <div>
      <div class="header">{{company.name}}</div>
      <div class="description">{{company.tagline}}</div>
    </div>
  </div>
</a>
