<h2>Companies &amp; Projects</h2>
<ul>
  {{#if sortedCompanies}}
    {{#each sortedCompanies as |company|}}
      {{company-listing company=company}}
    {{/each}}
  {{else if notLoaded}}
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
  {{/if}}
</ul>