<h2>Companies &amp; Projects</h2>
<div>
  <div>
    <ul>
      {{#if sortedCompanies}}
        {{#each sortedCompanies as |company|}}
          {{company-li company=company}}
        {{/each}}
      {{/if}}
    </ul>
  </div>
</div>

{{#if limit}}
  {{#link-to 'companies' class="view-all"}}View all companies{{/link-to}}
{{/if}}
