<h2>Contact</h2>
<form {{action "sendMessage" on="submit"}}>
  <p>Please submit a short message and your email address. I’ll be in touch as soon as possible.</p>
  {{textarea placeholder="Your short message" value=message.body required=true}}
  {{input placeholder="Your email address" value=message.senderEmail type="email" required=true}}
  <button type="submit">Send message</button>
</form>
