<h2>A little history</h2>
<div class="timeline">
  {{#if hasDates}}
    <div class="birthday">{{format-date birthday day="numeric" month="long" year="numeric"}}</div>
    <div class="today">{{format-date today day="numeric" month="long" year="numeric"}}</div>
  {{/if}}
</div>
<div class="content">
  {{#if history}}
    {{markdown-to-html markdown=history}}
  {{else}}
    <p class="placeholder"></p>
    <p class="placeholder"></p>
    <p class="placeholder"></p>
    <p class="placeholder"></p>
    <p class="placeholder"></p>
  {{/if}}
</div>