<h1>{{fullName}}</h1>
<div class="subheader">{{subheader}}</div>
<nav>
  <a href="#history">History</a>
  <a href="#posts">Posts</a>
  <a href="#companies">Companies</a>
  <a href="#checkins">Check-ins</a>
  <a href="#skills">Skills</a>
  <a href="#links">Links</a>
</nav>
<div class="image" style="{{imageStyle}}"></div>
