<h1>{{fullName}}</h1>
<div class="subheader">{{subheader}}</div>
<nav>
  <a href="#history">History</a>
  <a href="#writing">Writing</a>
  <a href="#skills">Skills</a>
  <a href="#companies">Companies</a>
  <a href="#links">Links</a>
  {{#link-to "checkins"}}Check-ins{{/link-to}}
</nav>
<div class="image" style="{{imageStyle}}"></div>
