<h2>Also find me on...</h2>
<ul>
  {{#if links}}
    {{#each links as |link|}}
      <li><a href="{{link.url}}" rel="me">{{link.name}}</a></li>
    {{/each}}
  {{else}}
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
    <li class="placeholder"></li>
  {{/if}}
</ul>