<section>
  <h1>Not all who wander are lost</h1>
  <p>You may have been misled by a misleading link, or perhaps content once found here has been moved. A simple typo could be to blame. Or maybe there's a bug in the code, yet to be squashed.</p>
  <p>Whatever the cause, I regret to inform you that whatever you seek can't be found right here, right now.</p>
  <p>Perhaps check the URL to make sure it's the one you wanted? Or {{#link-to 'index'}}head home{{/link-to}} and continue your journey from there. I'm sure you'll make your way somehow.</p>
</section>