<div class="image">
  <div>
    <img src="{{imageUrl}}" />
  </div>
</div>

{{#if photo.description}}
  <div class="description">{{compiled-markdown markdown=photo.description}}</div>
{{/if}}

<div class="published-at">{{format-date photo.publishedAt day="numeric" month="long" year="numeric"}}</div>
