<div>
  <h1>{{post.title}}</h1>
  <div class="published-at">{{formatDate post.publishedAt day="numeric" month="long" year="numeric"}}</div>
  {{#if post.imageUrl}}
    <div class="image" style={{backgroundImageStyle post.imageUrl}}></div>
  {{/if}}
  <div class="body">{{markdown-to-html markdown=post.body}}</div>
</div>