<h2>Posts</h2>
<div>
  <div>
    <ul class="posts">
      {{#each sortedPosts as |post|}}
        {{post-li post=post}}
      {{/each}}
    </ul>
  </div>
</div>

{{#if limit}}
  {{#link-to 'posts' class="view-all"}}View all posts{{/link-to}}
{{/if}}
