#app-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  color: #283746;
  background: #f9fbfd;
  background: rgba(249, 251, 253, 0.9);
  border-bottom: 1px solid #dee5ec;
  padding: 1em;
  text-align: center;
  transition: font-size 0.1s;
}

#app { 
  position: relative; 
  text-align: center;
  margin: 5em auto auto auto;
  box-sizing: border-box;
  padding-bottom: 2em;
}

#app-header a {
  color: #283746;
}

#app-header a:hover {
  background: none;
  color: #1668b9;
}

#app-title {
}

#app-subtitle {
  font-size: 0.8em;
  opacity: 0.5;
  margin-top: 0.3em;
}