.index #app-header {
  text-transform: uppercase;
  font-size: 1.8em;
}

.index #app-header a:hover {
  cursor: default;
  color: #283746;
}

.index #bio, #profiles, #posts {
  background: #f9fbfd;
  border-bottom: 1px solid #dee5ec;
  padding: 2em;
  margin: 1em auto 1em auto;
  max-width: 42em;
}

.index #bio h1, .index #profiles h1, .index #posts h1 {
  text-align: center;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: normal;
  color: #79828b;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.index #bio p {
  font-size: 1.1em;
}

.index #profiles, .index #posts {
  text-align: center;
}

.index #posts li {
  margin-bottom: 0.6em;
  font-size: 1.1em;
}

.index #posts li .post-published-at {
  color: #c2cad2;
  font-size: 0.9em;
}

.index #profiles li {
  margin-bottom: 0.2em;
  display: inline-block;
}

.index #profiles li:after {
  content: " \00b7 ";
}

.index #profiles li:last-child:after {
  content: "";
}

@media only screen and (max-device-width : 750px) {
  .index #app-header {
    font-size: 1.8em;
  }

  .index #app { 
    margin-top: 0;
  }

  .index #profiles li {
    font-size: 1.1em;
  }

  .index #bio, #profiles, #posts {
    padding: 1em;
  }
}