.post #app-title {
  font-size: 1.7em;
}

.post #app-subtitle {
  font-size: 1.1em;
}

.post #app {
  margin-top: 7em;
}

.post #content {
  background: #f9fbfd;
  border-bottom: 1px solid #dee5ec;
  padding: 4em 5em 4em 5em;
  margin: 1em auto 1em auto;
  max-width: 54em;
  text-align: left;
}

.post .post-body p, .post .post-body li {
  font-size: 1.3em;
  line-height: 150%;
}

.post .post-body h1 {
  font-size: 1.6em;
  font-weight: normal;
  margin-top: 1.5em;
}

.post .post-body li p {
  font-size: 1em;
}

.post .post-body li {
  margin: 1em;
  list-style: disc;
}

.post .post-body img {
  max-width: 100%;
}

.post .post-body img:nth-of-type(1) {
  float: right;
  margin: 0 0 2em 2em;
}

.post .post-body ol li {
  list-style: decimal;
  margin-left: 1.5em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  .post #app-title {
    font-size: 1.5em;
  }

  .post #app-subtitle {
    font-size: 1em;
  }

  .post #app {
    margin-top: 0;
  }

  .post #content {
    padding: 1.5em;
  }

  .post .post-body img:nth-of-type(1) {
    float: none;
    display: block;
    margin: 0;
  }
}