/* Colors */

@green-color: #00D1A4;
@orange-color: #FF7F00;
@subheader-color: #97A3AF;
@border-color: #E8E8E8;
@standard-color-link: rgba(1,73,255,0.75);

/* Fonts */

.standard-font-family {
  font-family: "Avenir Light", Avenir-Light, sans-serif;
  font-weight: 100;
}

.standard-font-family-bold { 
  font-family: "Avenir Medium", Avenir-Medium, sans-serif;
  font-weight: 500;
}

.standard-body-font-family {
  font-family: "Charter", Charter, serif;
  font-weight: 100;
}

/* Mixins */

.standard-container {
  background: linear-gradient(rgba(0,0,0,0.05), transparent);
  background-size: 100% 4em;
  background-position: top left;
  background-repeat: repeat-x;
  padding: 4em 0 4em 0;
  user-select: none;

  @media (min-width: 40em) {
    background: linear-gradient(rgba(0,0,0,0.025), transparent);
    background-size: 100% 4em;
    background-position: top left;
    background-repeat: repeat-x;
    padding: 6em 0 6em 0;
  }
}

.standard-fadein {
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  opacity: 1;
}

.standard-transition-states {
  transition: opacity 0.5s;

  &:before {
    animation: shimmer 0.75s infinite linear;
    animation-fill-mode: forwards;
    background: linear-gradient(120deg, rgba(255,255,255,0.25), transparent, rgba(255,255,255,0.25), transparent, rgba(255,255,255,0.25));
    background-size: 200% 200%;
    content: '';
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &:not(.loaded):before, &:not(.loaded) p.placeholder:before {
    display: block;
  }

  &.hidden {
    opacity: 0;
    transition: opacity 0.5s;

    &>* {
      opacity: 0;
      transition: opacity 0.5s;
    }
  }

  &.empty, &.error {
    display: none;
  }
}

.standard-max-container {
  margin: auto;
  max-width: @standard-container-max-width;
}

.loaded-opacity {
  opacity: 0;
  transition: opacity 0.5s;

  &.loaded {
    opacity: 1;
  }
}

.standard-button {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2em;
  box-sizing: border-box;
  color: rgba(0,0,0,0.5);
  display: inline-block;
  padding: 1em 4em 1em 4em;
  position: relative;
  text-transform: uppercase;
  transition: box-shadow 0.25s, color 0.25s, border 0.25s, transform 0.25s, background 0.25s;

  @media (hover: hover) {
    &:hover {
      border-color: rgba(1,73,255,0.3);
      box-shadow: 0 0.25em 0.25em rgba(1,73,255,0.05);
      color: rgba(1,73,255,0.75);
      transform: scale(1.05);
    }
  }

  &:active {
    background: rgba(1,73,255,0.75);
    color: #ffffff !important;
  }
}

.standard-http-status-code-before {
  color: rgba(0,0,0,0.1);
  display: block;
  font-size: 4em;
  padding-bottom: 0.25em;
}

.standard-link { 
  color: @standard-color-link;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  &:before {
    background-color: rgba(1,73,255,0.75);
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out;
  }

  .highlight {
    color: rgba(1,73,255,1);
    outline: none;

    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &:focus, &:active {
    .highlight;
  }

  @media (hover: hover) {
    &:hover {
      .highlight;
    }
  }
}

.standard-inline-link {
  border-bottom: 2px solid rgba(1,73,255,0.1);
  color: rgba(1,73,255,0.85);
  transition: border-color 0.25s, color 0.25s;

  .highlight {
    border-bottom-color: rgba(1,73,255,1);
    color: rgba(1,73,255,1);
    outline: none;
  }

  &:focus, &:active {
    .highlight;
  }

  @media (hover: hover) {
    &:hover {
      .highlight;
    }
  }
}

.standard-paragraph {
  .standard-selection;
  .standard-body-font-family;
  line-height: 1.45em; 
  margin: 0 0 1em 0;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.standard-selection {
  cursor: text;
  user-select: text;

  &::selection, *::selection {
    background: rgba(22,104,185,0.25);
  }
}

/* Widths */

@standard-container-max-width: 58em;