/* Colors */

@green-color: #00D1A4;
@orange-color: #FF7F00;
@subheader-color: #97A3AF;
@border-color: #E8E8E8;

/* Fonts */

@standard-font-family: Avenir-Light, sans-serif;
@standard-font-family-bold: Avenir-Medium, sans-serif;

/* Media queries */

@desktop: ~"(min-width: 571px)";
@mobile: ~"(max-width: 570px)";

/* Mixins */

.standard-link { 
  color: #1668b9; 
  text-decoration: none; 
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}