/* Colors */

@green-color: #00D1A4;
@orange-color: #FF7F00;
@subheader-color: #97A3AF;
@border-color: #E8E8E8;

/* Fonts */

@standard-font-family: Avenir-Light, sans-serif;
@standard-font-family-bold: Avenir-Medium, sans-serif;

/* Media queries */

@desktop: ~"(min-width: 571px)";
@mobile: ~"(max-width: 570px)";

/* Mixins */

.standard-container {
  background: linear-gradient(rgba(0,0,0,0.025), transparent);
  background-size: 100% 4em;
  background-position: top left;
  background-repeat: repeat-x;
  padding: 6em 0 6em 0;
}

.standard-link { 
  color: #1668b9; 
  text-decoration: none; 
  cursor: pointer;
}

/* Widths */

@standard-container-max-width: 58em;