a {
  color: inherit;
  text-decoration: none;
}

blockquote {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.75);
  font-style: italic;
  margin: 2em 0;
  padding: 1em;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }

  @media (min-width: 40em) {
    background: linear-gradient(rgba(0,0,0,0.0125), rgba(0,0,0,0.025));
    border: none;
    margin: 2em 0 3em 0;
    padding: 2em;
  }

  p {
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

body {
  .standard-font-family;
  background: #ffffff;
  color: #000000;
  text-align: center;
  margin: 0;
  min-width: 320px;
  cursor: default;
  text-rendering: geometricPrecision;

  @media (min-width: 40em) {
    padding: 0 0 8em 0;
  }
}

div {
  box-sizing: border-box;
  position: relative;
}

h1 {
  .standard-font-family;
  font-size: 2em;
  margin: 0;

  @media (min-width: 40em) {
    font-size: (46em / 16);
  }
}

h2 {
  .standard-font-family-bold;
  color: rgba(0,0,0,0.75);
  font-size: 1.625em;
  margin: 0;

  @media (min-width: 40em) {
    font-size: 2em;
  }
}

h3 {
  .standard-font-family-bold;
  font-size: 1.5em;
  line-height: 1.2em;
  margin: 0;
}

h4 {
  .standard-font-family-bold;
  font-size: 1.125em;
  line-height: 1.2em;
  margin: 0;
}

h5 {
  .standard-font-family;
  color: rgba(0,0,0,0.25);
  font-size: 1em;
  letter-spacing: 1px;
  line-height: 1.2em;
  margin: 0;
  text-transform: uppercase;
}

header {
  .standard-font-family;
  color: #79828B;
  text-transform: uppercase;
}

p {
  .standard-paragraph;

  &.placeholder {
    background: rgba(0,0,0,0.1);
    height: 1em;
    position: relative;

    &:nth-of-type(3) {
      margin-top: 2em;
    }
  }
}

em { 
  font-style: italic; 
}

strong { 
  font-weight: bold; 
}

ul, ol, li {
  box-sizing: border-box;
  line-height: 1em;
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
}

small {
  color: rgba(0,0,0,0.5);
  font-size: 0.875em;
}