<section id="intro">
  <div>
    <img src="/static/images/icons/personWithLaptop.svg" />
    <button>Contact Me</button>
    <ul>
      <li>
        <img src="/static/images/icons/laptopWithTag.svg" />
        <div>Web design &amp; development</div>
      </li>
      <li>
        <img src="/static/images/icons/mobileDevices.svg" />
        <div>Mobile design &amp; development</div>
      </li>
      <li>
        <img src="/static/images/icons/layers.svg" />
        <div>Platform &amp; API&nbsp;design</div>
      </li>
      <li>
        <img src="/static/images/icons/desktopWithGraph.svg" />
        <div>Product &amp; marketing&nbsp;analytics</div>
      </li>
    </ul>
  </div>
  <div>
    <h1>I contract remotely for programming, design and analytics</h1>
    <div class="subheader">Based in Barcelona, Spain with regular trips to San Francisco, CA</div>
    <p>I’m a software technologist originally from Menlo Park, California who’s spent over 17 years designing and developing applications for the web and iOS.</p>
    <p>Six of those years (between 2007-2012) were spent in Palo Alto and San Francisco working for various startups, starting with TechCrunch then co-founding my first startup, Plancast. In 2013, I decided to expand my horizons by moving to New York City then Barcelona, where I spend most of my time living and working today.</p>
    <p>My role has varied with each company and internal project. I’ve been a journalist, designer, programming, product manager, “growth hacker” (ew), startup CEO and board member at various points in time. I’ve been involved in both macro and micro decision-making, mainly at early-stage startups, and enjoy spanning the stacks of product development and marketing challenges that innovative companies face.</p>
    <p>I’ve also had the chance to work within all sorts of on-premise and remote arrangements, whether out of a founder’s extra bedroom in Atherton, a janky but affordable office in the heart of the Mission, a plush but expensive one on the edge of the Tenderloin, or across the pond in a Spanish coworking space. As such, I’ve learned what processes and tools are suitable for different work environments and organizational structures.</p>
    <p>While I’m available for either short or long-term engagements, I consider myself a committed member of any team I join no matter the duration or scope of work, valuing the positive impact my contributions have on a client’s company above all else.</p>
  </div>
</section>

<section id="engagement-types">
  <div>
    <div>
      <img src="/static/images/icons/calendar.svg" />
      <div>Continual part-time contributions</div>
    </div>
  </div>
  <div>or</div>
  <div>
    <div>
      <img src="/static/images/icons/sprint.svg" />
      <div>Predefined full-time sprints</div>
    </div>
  </div>
</section>

<section id="outline">
  <table>
    <tr>
      <td>Programming languages</td>
      <td>JavaScript, CoffeeScript, Ruby, Objective-C, PHP</td>
    </tr>
    <tr>
      <td>Markup languages</td>
      <td>HTML, CSS, LESS</td>
    </tr>
    <tr>
      <td>Frameworks</td>
      <td>Express, Ember.js, Rails, Symfony</td>
    </tr>
    <tr>
      <td>Runtime environments</td>
      <td>Node.js</td>
    </tr>
    <tr>
      <td>Creative tools</td>
      <td>Sublime Text, Sketch, Photoshop, Litmus</td>
    </tr>
    <tr>
      <td>Collaboration tools</td>
      <td>GitHub, Codeship, Pivotal Tracker, Trello, Asana, Slack, Google Hangouts, Skype</td>
    </tr>
    <tr>
      <td>Preferred methodology</td>
      <td>Kanban</td>
    </tr>
    <tr>
      <td>User management services</td>
      <td>Mixpanel, Intercom</td>
    </tr>
    <tr>
      <td>Verbal languages</td>
      <td>English, Spanish</td>
    </tr>
    <tr>
      <td>Education</td>
      <td>Bowdoin College ´07; Economics &amp; Government and Legal Studies (summa cum laude)</td>
    </tr>
    <tr>
      <td>Key values</td>
      <td>Proactive and highly responsive communication, iterative prioritization, automated tests, organized ticket tracking, continual refactoring, modular design, and balance between qualitative and quantitative premises for action</td>
    </tr>
  </table>
</section>

<section id="experience">
  <header>Experience</header>
  <ul>
    <li>
      <img src="/static/images/icons/companies/kite.svg" />
      <div class="name">KITE Solutions Inc.</div>
      <div class="description">The emerging technology platforms marketplace</div>
      <ul>
        <li>
          <div>Co-founder &amp; board member</div>
          <div>2012-Present</div>
        </li>
        <li>
          <div>Product director</div>
          <div>2012-2015</div>
        </li>
        <li>
          <div>Designer &amp; developer</div>
          <div>2012-2014</div>
        </li>
      </ul>
      <div class="expand"><a href="http://getkite.co">Visit the KITE website &raquo;</a></div>
    </li>
    <li>
      <img src="/static/images/icons/companies/asheville.svg" />
      <div class="name">Asheville</div>
      <div class="description">Reclaim your online data</div>
      <ul>
        <li>
          <div>Founder, designer &amp; developer</div>
          <div>2013-Present</div>
        </li>
      </ul>
      <div class="expand"><a href="https://github.com/asheville/spec">Read the Asheville spec &raquo;</a></div>
    </li>
    <li>
      <img src="/static/images/icons/companies/digit.svg" />
      <div class="name">Hello Digit, Inc.</div>
      <div class="description">Save money, without thinking about it</div>
      <ul>
        <li>
          <div>Designer &amp; developer</div>
          <div>2013-2016</div>
        </li>
      </ul>
      <div class="expand"><a href="http://digit.co">Visit the Digit website &raquo;</a></div>
    </li>
    <li>
      <img src="/static/images/icons/companies/lift.png" />
      <div class="name">Lift</div>
      <div class="description">Achieve any goal</div>
      <ul>
        <li>
          <div>Product lead, designer &amp; developer</div>
          <div>2011-2012</div>
        </li>
      </ul>
      <div class="expand"><a href="http://coach.me">Visit the Lift website (now Coach.me) &raquo;</a></div>
    </li>
    <li>
      <img src="/static/images/icons/companies/plancast.png" />
      <div class="name">Plancast</div>
      <div class="description">Discover events and share plans with friends</div>
      <ul>
        <li>
          <div>Co-founder, CEO, designer &amp; developer</div>
          <div>2009-2011</div>
        </li>
      </ul>
    </li>
  </ul>
</section>

<section id="links">
  <header>Find me elsewhere</header>
  <ul>
    <li><a href="https://about.me/mark" rel="me">About.me</a></li>
    <li><a href="http://amzn.com/w/1ON8LLEQMTWIA" rel="me">Amazon</a></li>
    <li><a href="https://angel.co/mhendric" rel="me">AngelList</a></li>
    <li><a href="https://www.airbnb.com/users/show/4509964" rel="me">Airbnb</a></li>
    <li><a href="https://www.behance.net/mhendric" rel="me">Behance</a></li>
    <li><a href="http://dribbble.com/mhendric" rel="me">Dribbble</a></li>
    <li><a href="https://news.ycombinator.com/user?id=mhendric" rel="me">Hacker News</a></li>
    <li><a href="http://instagram.com/mhendric" rel="me">Instagram</a></li>
    <li><a href="http://facebook.com/markmhendrickson" rel="me">Facebook</a></li>
    <li><a href="https://foursquare.com/markymark" rel="me">Foursquare</a></li>
    <li><a href="http://github.com/markmhx" rel="me">GitHub</a></li>
    <li><a href="https://plus.google.com/+MarkHendrickson" rel="me">Google+</a></li>
    <li><a href="http://www.linkedin.com/in/markmhendrickson" rel="me">LinkedIn</a></li>
    <li><a href="https://medium.com/@markymark" rel="me">Medium</a></li>
    <li><a href="http://www.pinterest.com/mhendric/" rel="me">Pinterest</a></li>
    <li><a href="http://www.quora.com/Mark-Hendrickson" rel="me">Quora</a></li>
    <li><a href="http://www.rdio.com/#/people/mhendric/" rel="me">Rdio</a></li>
    <li><a href="http://stackoverflow.com/users/1816956/mark-hendrickson" rel="me">Stack Overflow</a></li>
    <li><a href="http://twitter.com/markymark" rel="me">Twitter</a></li>
    <li><a href="http://markmhendrickson.yelp.com/" rel="me">Yelp</a></li>
  </ul>
</section>