nav.app {
  background-color: #ffffff;
  display: flex;
  height: 3em;
  justify-content: center;
  left: 0;
  text-align: center;
  top: 0;
  transition: top 1s, box-shadow 1s;
  user-select: none;
  z-index: 99;
  width: 100%;

  @media (min-width: 37em) {
    backdrop-filter: blur(10px);
    box-shadow: 0 0 4em rgba(0,0,0,0.075);
    position: fixed;
  }

  &.hidden {
    top: -4em;
  }

  &.scrolled {
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
  }

  a {
    .standard-link;
    color: rgba(0,0,0,0.25);
    line-height: 1em;
    font-size: 0.75em;
    margin-bottom: -1px;
    padding: 1.5em;
    padding-left: (19em / 12);
    padding-right: (19em / 12);
    text-transform: uppercase;

    &.active:not(.never-active) {
      .standard-font-family-bold;
      border-bottom: 2px solid rgba(0,0,0,0.50);
      color: rgba(0,0,0,0.75);
      cursor: default;

      @media (hover: hover) {
        &:hover {
          color: inherit;

          &:before {
            visibility: hidden;
          }
        }
      }
    }

    &.emphasis {
      color: rgba(0,0,0,0.5);
      letter-spacing: 0.1em;

      &:active, &:focus {
        color: @standard-color-link;
      }

      @media (hover: hover) {
        &:hover {
          color: @standard-color-link;
        }
      }
    }
  }

  div.vcard {
    display: none;
  }
}

/* Modernizr expected to set this class depending on browser support */
html.backdropfilter nav.app {
  background: rgba(255,255,255,0.75);
}