nav.app {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  height: 4em;
  justify-content: left;
  text-align: center;
  user-select: none;
  z-index: 99;
  width: 100%;

  @media (min-width: 40em) {
    height: 6em;
    padding: 0 96px;
  }

  &.hidden {
    display: none;
  }

  a.image {
    left: 24px;
    position: fixed;
    top: 24px;
    z-index: 1000;

    @media (max-width: 50em) {
      display: none;
    }
  }

  img {
    border-radius: 50%;
    display: block;
    height: 48px;
    width: 48px;
  }

  a.full-name {
    .standard-link;
    .standard-font-family-bold;
    box-sizing: border-box;
    color: rgba(0,0,0,0.5);
    display: inline-block;
    font-size: 12px;
    height: 100%;
    letter-spacing: 1.6px;
    padding: 26px;
    text-transform: uppercase;
    transition: color 0.25s, transform 0.25s;

    @media (min-width: 40em) {
      padding: 40px 16px;
    }
  }
}
