#app-name {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  color: #283746;
  background: #f9fbfd;
  border-bottom: 1px solid #dee5ec;
  font-size: 1em;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
  transition: font-size 0.1s;
}

#app { 
  position: relative; 
  text-align: center;
  margin: 5em auto auto auto;
  box-sizing: border-box;
  padding-bottom: 2em;
}

#app-name a {
  color: #283746;
}

#app-name a:hover {
  text-decoration: none;
  color: #1668b9;
}