#app { 
  position: relative; 
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  padding-bottom: 2em;
}

#app-name {
  color: #283746;
  background: #f9fbfd;
  border-bottom: 1px solid #dee5ec;
  font-size: 1.8em;
  padding: 1em;
  text-transform: uppercase;
  text-align: center;
}