section.books {
  >div >div >ul li {
    &.hasImage {
      @media (min-width: 40em) {
        width: 800px;
      }

      div.interior {
        overflow: hidden;

        @media (min-width: 40em) {
          display: flex;
        }
      }

      img.cover {
        box-shadow: 0 8px 64px rgba(0,0,0,0.1);
        margin-top: 40px;
        width: 6em;

        @media (min-width: 40em) {
          box-shadow: none;
          height: 100%;
          margin-top: 0;
          width: 40%;
        }
      }

      div.content {
        @media (min-width: 40em) {
          width: 60%;
        }
      }
    }

    div.content {
      >div {
        padding: 40px;
      }

      div.new {
        .standard-font-family-bold;
        display: none;
        font-size: 14px;
        color: rgba(0,0,0,0.50);
        letter-spacing: 1.75px;
        line-height: 16px;
        text-transform: uppercase;

        @media (min-width: 40em) {
          display: block;
        }
      }

      div.title, div.subtitle {
        .standard-font-family-bold;
      }

      div.title {
        font-size: 24px;
        line-height: 28.8px;
      }

      div.subtitle {
        .standard-font-family;
        display: none;
        font-size: 18px;
        line-height: 24px;
        margin-top: 24px;

        @media (min-width: 40em) {
          display: block;
        }
      }

      a {
        .standard-button;
        display: block;
        font-size: 0.8em;
        margin: auto;
        margin-top: 16px;
        padding: 0.75em 2em;
        width: 100%;

        &.purchase {
          border-color: @standard-color-link;
          color: @standard-color-link;
          margin-top: 32px;
        }

        @media (min-width: 40em) {
          max-width: 18em;
        }
      }

      div.book-release {
        font-size: 14px;
        margin-top: 32px;
      }
    }
  }

  &:not(.carousel) >div >div >ul li {
    &.hasImage {
      @media (min-width: 40em) {
        width: 800px;
      }

      div.content {
        height: 100%;
      }
    }

    div.content {
      height: 100%;

      >div {
        padding: 40px;
      }

      @media (min-width: 40em) {
        >div {
          position: absolute;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &.carousel >div >div >ul li {
    &.hasImage {
      div.interior {
        height: 100%;

        @media (min-width: 40em) {
          height: auto;
        }
      }
    }

    div.interior {
      height: 336px;

      @media (min-width: 40em) {
        height: 448px;
      }
    }

    div.content {
      height: auto;

      >div {
        @media (min-width: 40em) {
          position: absolute;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
