section.books {
  >div >div >ul li {
    &.hasImage {
      @media (min-width: 40em) {
        width: 800px;
      }

      div.interior {
        overflow: hidden;

        @media (min-width: 40em) {
          display: flex;
        }
      }

      img.coverTop {
        left: 0;
        position: absolute;
        top: -4em;
        width: 100%;

        @media (min-width: 40em) {
          display: none;
        }
      }

      img.cover {
        display: none;
        height: 100%;
        width: 40%;

        @media (min-width: 40em) {
          display: block;
        }
      }

      div.content {
        @media (min-width: 40em) {
          width: 60%;
        }

        >div {
          @media (min-width: 40em) {
            position: absolute;
            height: auto;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    div.content {
      >div {
        padding: 40px;
      }

      div.new {
        .standard-font-family-bold;
        display: none;
        font-size: 14px;
        color: rgba(0,0,0,0.50);
        letter-spacing: 1.75px;
        line-height: 16px;
        text-transform: uppercase;

        @media (min-width: 40em) {
          display: block;
        }
      }

      div.title, div.subtitle {
        .standard-font-family-bold;
        margin-top: 24px;
      }

      div.title {
        font-size: 24px;
        line-height: 28.8px;
      }

      div.subtitle {
        .standard-font-family;
        display: none;
        font-size: 18px;
        line-height: 24px;

        @media (min-width: 40em) {
          display: block;
        }
      }

      a {
        .standard-button;
        display: block;
        font-size: 0.8em;
        margin: auto;
        margin-top: 16px;
        max-width: 20em;
        padding: 0.75em 2em;
        width: 100%;

        &:first-of-type {
          border-color: @standard-color-link;
          color: @standard-color-link;
          margin-top: 32px;
        }

        @media (min-width: 40em) {
          .standard-button;
          font-size: 1em;
        }
      }

      div.book-release {
        font-size: 14px;
        margin-top: 32px;
      }
    }
  }

  &.carousel >div >div >ul li {
    &.hasImage {
      @media (min-width: 40em) {
        width: 800px;
      }

      div.content {
        height: 100%;
      }
    }

    div.content {
      height: 100%;

      >div {
        position: absolute;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
