section.companies {
  .standard-container;

  >ul {
    .standard-max-container;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    max-width: 62em;

    >li {
      display: flex;
      padding: 2em 2em 1em 2em;
      width: 100%;

      @media (min-width: 40em) {
        margin-bottom: 1em;
        padding: 2em;
        width: 50%;
      }

      div.logo {
        margin-right: 2em;
        width: 25%;

        @media (min-width: 40em) {
          margin-right: 3em;
        }

        img {
          width: 100%;
        }
      }

      div.info {
        text-align: left;
        width: 75%;

        h4 {
          font-size: 1.5em;
          line-height: 1em;
        }

        div.slogan {
          color: rgba(0,0,0,0.50);
          line-height: 1.2em;
          margin-top: 0.4em;
        }

        ul.roles {
          li {
            margin-top: 1em;

            div.description {
              color: rgba(0,0,0,0.75);
              font-family: @standard-font-family-bold;
              margin-bottom: 0.5em;
            }

            div.timespan {
              font-size: 0.875em;
              color: rgba(0,0,0,0.50);
            }
          }
        }
      }
    }
  }
}