section.companies {
  .shown-opacity;
  .standard-container;

  >ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;

    >li {
      align-items: top;
      border-bottom: 0.5em solid rgba(0,0,0,0.05);
      display: flex;
      justify-content: center;
      padding: 3em 2em;
      width: 100%;

      &:last-child {
        border-bottom: none;
      }

      @media (min-width: 64em) {
        background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.02));
        border-bottom: none;
        margin: 1em;
        max-width: 30em;
      }

      >div {
        flex-grow: 1;

        div.logo {
          border-bottom: 1px solid rgba(0,0,0,0.05);
          height: 6em;
          padding-bottom: 2em;
          position: relative;

          img {
            height: 100%;
            max-width: 12em;
          }
        }

        div.info {
          .standard-selection;
          margin-top: 2em;

          h4 {
            font-size: 1.5em;
            line-height: 1em;
          }

          div.tagline {
            color: rgba(0,0,0,0.50);
            line-height: 1.2em;
            margin-top: 0.4em;
          }

          ul.roles {
            li {
              margin-top: 1em;

              div.description {
                color: rgba(0,0,0,0.75);
                font-family: @standard-font-family-bold;
                margin-bottom: 0.5em;
              }

              div.timespan {
                font-size: 0.875em;
                color: rgba(0,0,0,0.50);
              }
            }
          }
        }
      }
    }
  }
}