section.companies {
  border-bottom: none;
  padding-bottom: 0;

  >ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em auto 0 auto;
    max-width: 80em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.025);

    @media (min-width: 35em) {
      background: rgba(0, 0, 0, 0.025);
    }

    a {
      .standard-highlight;

      @media (hover: hover) {
        transition: box-shadow 0.5s, transform 0.5s;

        &:hover {
          .standard-highlight-hover;
          color: inherit;
          box-shadow: 0 0 4em rgba(0,0,0,0.075);
          transform: scale(1.05);
        }
      }
    }

    >li div.info {
      .standard-selection;
    }

    >a, >li {
      background: #ffffff;
      border: 1px solid rgba(0,0,0,0.05);
      border-left: 1px solid rgba(0,0,0,0.03);
      border-top: 1px solid rgba(0,0,0,0.03);
      box-sizing: border-box;
      display: inline-block;
      margin-bottom: 1em;
      padding: 4em 3em;
      width: 100%;

      @media (min-width: 60em) {
        margin: 0.5em;
        width: ~"calc(50% - 1.5em)";
      }

      @media (min-width: 90em) {
        margin: 1em;
        padding: 4em;
        width: ~"calc(100% / 3 - 2.25em)";
      }

      &.placeholder {
        background-color: rgba(0,0,0,0.1);
        border: none;
        height: 22em;
      }

      div.logo {
        display: block;
        margin: 0;
        padding: 3em 0;
        position: relative;
        text-align: center;
        width: 100%;

        img {
          display: block;
          height: 5em;
          margin: auto;
          max-width: 100%;
        }
      }

      div.info {
        border-top: 1px solid rgba(0,0,0,0.05);
        padding-top: 2em;

        h4 {
          font-size: 1.5em;
          line-height: 1em;
        }

        div.tagline {
          color: rgba(0,0,0,0.50);
          line-height: 1.2em;
          margin-top: 0.4em;
        }

        ul.roles {
          li {
            margin-top: 1em;

            div.description {
              .standard-font-family-bold;
              color: rgba(0,0,0,0.75);
              margin-bottom: 0.5em;
            }

            div.timespan {
              font-size: 0.875em;
              color: rgba(0,0,0,0.50);
            }
          }
        }
      }
    }
  }
}
