section.intro {
  .standard-fadein;
  .standard-loading-effect;
  user-select: none;
  background-color: rgba(210,224,235,1);
  padding-top: 80.58761805%;

  @media (min-width: 45em) {
    padding-top: ~"calc(80.58761805% - 11em)";
  }

  @media (min-width: 975px) {
    padding-top: (768% / 12);
  }

  &:not(.shown) {
    div.info, div.image {
      opacity: 0;
    }
  }

  div.image, div.info {
    transition: opacity 1s;
  }

  div.image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 1;

    @media (min-width: 45em) {
      background-position: center -11em;
    }

    @media (min-width: 975px) {
      background-position: center bottom;
    }
  }

  div.info {
    background: #ffffff;
    padding: 3em 2em;
    z-index: 2;

    @media (min-width: 40em) {
      padding: 4em 3em 4em 3em;
    }

    @media (min-width: 975px) {
      background: rgba(255,255,255,0.9);
      backdrop-filter: blur(1px);
      box-shadow: 0 1em 1em rgba(0,0,0,0.1);
      left: 0em;
      position: absolute;
      text-align: left;
      top: 6em;
      width: 36em;
    }

    @media (min-width: 1050px) {
      left: (155% / 27.32);
      padding: 4em;
      top: 7em;
    }

    @media (min-width: 1150px) {
      left: (155% / 13.66);
      top: 9em;
    }

    h1 {
      line-height: 1em;
    }

    div.profession {
      color: rgba(0,0,0,0.75);
      font-size: 1.25em;
      line-height: 1em;
      margin-top: (1em / 1.5);

      @media (min-width: 40em) {
        font-size: 1.5em;
      }
    }

    div.location {
      color: rgba(0,0,0,0.5);
      margin-top: 1em;
    }

    ul {
      border-top: 1px solid rgba(0,0,0,0.05);
      margin-top: 1.5em;
      padding-top: 1.5em;

      li {
        color: rgba(0,0,0,0.5);
        line-height: 1em;
        margin-top: 1.5em;

        &:first-of-type {
          margin-top: 0;
        }

        &.weather span {
          text-transform: capitalize;
        }

        span {
          color: rgba(0,0,0,0.75);
          display: block;
          font-family: @standard-font-family-bold;
          margin-top: 0.5em;

          @media (min-width: 40em) {
            display: inline-block;
            margin-top: 0;
          }
        }
      }
    }
  }
}