section.links {
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 40em;
    margin: auto;
    margin-top: 1em;
    text-align: center;

    @media (min-width: 40em) {
      margin-top: 2em;
    }

    li {
      margin: 1.5em auto auto auto;
      width: 50%;

      @media (min-width: 40em) {
        width: 25%;
      }

      a {
        .standard-link;
        .standard-font-family;
        font-size: 1.25em;
      }

      &.placeholder {
        background-color: rgba(0,0,0,0.1);
        height: 1.5em;
        margin: 0.5em 1em;
        width: ~"calc(50% - 2em)";

        @media (min-width: 40em) {
          width: ~"calc(25% - 2em)";
        }
      }
    }
  }
}
