section.links {
  .standard-container;

  ul {
    .standard-max-container;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    max-width: 40em;

    li {
      margin-top: 1.5em;
      width: 25%;

      a {
        .standard-link;
        font-size: 1.25em;
      }
    }
  }
}