section.photos {
  .shown-opacity;
  .standard-container;
  margin: auto;
  max-width: 80em;

  @media (min-width: 56em) {
    padding-left: 2em;
  }
  
  @media (min-width: 80em) {
    padding-left: 7em;
    padding-right: 7em;
  }

  &.empty {
    display: none;
  }

  >div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;

    a {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 1em 1em 0;
      padding-bottom: ~"calc(100% / 3 - (2em / 3))";
      transition: background 0.25s, transform 0.25s;
      vertical-align: top;
      width: ~"calc(100% / 3 - (2em / 3))";

      @media (pointer: fine) {
        &:hover {
          transform: scale(1.05);
        }
      }

      &:nth-of-type(3n+3) {
        margin-right: 0;
      }

      @media (min-width: 56em) {
        margin: 0 2em 2em 0;
        padding-bottom: ~"calc(100% / 3 - 2em)";
        width: ~"calc(100% / 3 - (4em / 3))";
      }
    }
  }

  >a {
    .standard-button;
    margin-top: 1em;

    @media (min-width: 56em) {
      margin-top: 2em;
    }
  }
}