section.writing {
  .standard-container;

  h2 {
    margin-bottom: 32px;
  }

  a {
    box-sizing: border-box;
    padding: 1em;
    transition: background 0.25s;

    &:hover {
      background: rgba(0,0,0,0.05);
    }
  }

  div.published-at {
    color: rgba(0,0,0,0.5);
    margin-top: 0.5em;
  }

  div.featured {
    display: flex;
    flex-wrap: wrap;
    padding-left: 7em;
    padding-right: 7em;

    div.excerpt {
      margin-top: 0.5em;
    }

    a.featured-post {
      display: inline-block;
      text-align: left;
      vertical-align: top;
      width: ~"calc(50% - 1em)";

      div.image {
        background: rgba(22,104,185,0.5);
        padding-bottom: 56.25%;
        width: 100%;
      }

      h3 {
        margin-top: 32px;
      }
    }

    div.featured-posts {
      display: inline-block;
      margin-left: 2em;
      text-align: left;
      width: ~"calc(50% - 1.5em)";
      vertical-align: top;

      a {
        display: block;
        position: relative;

        &:first-of-type {
          margin-top: 0;
        }

        div.image {
          background: rgba(22,104,185,0.5);
          display: inline-block;
          margin-right: 2em;
          padding-bottom: 14.0625%;
          vertical-align: top;
          width: 25%;
        }

        div.content {
          display: inline-block;

          div.published-at {
            font-size: 0.875em;
          }
        }
      }
    }
  }

  div.more-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3em;
    padding: 0 8em;

    a {
      text-align: left;
      width: 50%;

      div.published-at {
        font-size: 0.875em;
      }
    }
  }
}