section.writing {
  .standard-container;

  h2 {
    margin-bottom: 1em;

    @media (min-width: 40em) {
      margin-bottom: 2em;
    }
  }

  div.published-at {
    color: rgba(0,0,0,0.5);
    margin-top: 0.5em;
  }

  a {
    transition: transform 0.25s;

    @media (pointer: fine) {
      &:hover {
        transform: scale(1.05);
      }
    }

    @media (min-width: 40em) {
      box-sizing: border-box;
      padding: 1em;
    }
  }

  div.featured {
    @media (min-width: 40em) {
      display: flex;
      flex-wrap: wrap;
      padding-left: 7em;
      padding-right: 7em;
    }

    div.excerpt {
      margin-top: 0.5em;
      padding: 0 2em;

      @media (min-width: 40em) {
        padding: 0;
      }
    }

    a.featured-post {
      display: block;
      text-align: left;

      @media (min-width: 40em) {
        width: ~"calc(50% - 1em)";
        vertical-align: top;
      }

      div.image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 56.25%;
        width: 100%;
      }

      h3 {
        padding: 32px 32px 0 32px;

        @media (min-width: 40em) {
          margin-top: 2em;
          padding: 0;
        }
      }

      div.published-at {
        padding: 0 2em;

        @media (min-width: 40em) {
          padding: 0;
        }
      }
    }

    div.featured-posts {
      margin-top: 4em;
      text-align: left;

      @media (min-width: 40em) {
        display: inline-block;
        margin-left: 2em;
        margin-top: 0;
        width: ~"calc(50% - 1.5em)";
        vertical-align: top;
      }

      a {
        display: flex;
        margin-top: 1em;
        position: relative;

        @media (min-width: 40em) {
          margin-top: 0;
        }

        &:first-of-type {
          margin-top: 0;
        }

        div.image {
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          display: inline-block;
          height: 5.625em;
          margin-right: 1.5em;
          vertical-align: top;
          width: 10em;

          @media (min-width: 40em) {
            margin-right: 2em;
            padding-bottom: 14.0625%;
            width: 25%;
          }
        }

        div.content {
          padding-right: 2em;
          width: ~"calc(100% - 10em)";

          @media (min-width: 40em) {
            padding-right: 0;
            width: 75%;
          }
          
          div.published-at {
            font-size: 0.875em;
          }
        }
      }
    }
  }

  div.more-posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3em;

    @media (min-width: 40em) {
      padding: 0 8em;
    }

    a {
      margin: 1em 2em 0 2em;
      text-align: left;

      &:first-of-type {
        margin-top: 0;
      }

      @media (min-width: 40em) {
        margin: 0;
        width: 50%;
      }

      div.published-at {
        font-size: 0.875em;
      }
    }
  }
}