<section class={{shownClass}}>
  <h1>Houston, we have a problem</h1>
  <p>A technical glitch prevented us from loading the site for you. Sorry for the inconvenience!</p>
  <p>The following message may help explain what went wrong, or simply confuse you further:</p>
  <blockquote>
    {{message}}
  </blockquote>
  <p>Please report this problem if you have a moment. Or simply go about your day and try again later; maybe it'll be magically fixed by then!</p>
</section>