<nav class="app">
  <a href="#intro" class="active">Intro</a>
  <a href="#history">History</a>
  <a href="#intro">Photos</a>
  <a href="#intro">Writing</a>
  <a href="#intro">Skills</a>
  <a href="#intro">Companies</a>
  <a href="#intro">Links</a>
</nav>
{{outlet}}