<div id="bio">
  <h1>About</h1>
  <p>I am a product director, designer and developer from San Francisco, CA with an extensive history of working on web and mobile applications.</p>
  <p>My work includes <a href="http://getkite.co">KITE</a>, <a href="http://asheville.io">Asheville</a>, <a href="http://digit.co">digit</a>, <a href="http://www.getkeepsake.com/">Keepsake</a>, <a href="http://lift.do">Lift</a>, <a href="http://plancast.com">Plancast</a>, <a href="http://crunchbase.com/">CrunchBase</a> and <a href="http://techcrunch.com/">TechCrunch</a> in various capacities, including executive leadership and writing.</p>
  <p>I strive to create and market thoughtful products that delight and improve the lives of people around the world.</p>
</div>

<div id="profiles">
  <h1>Find me on</h1>
  <ul>
    <li><a href="https://about.me/mark" rel="me">About.me</a></li>
    <li><a href="http://amzn.com/w/1ON8LLEQMTWIA" rel="me">Amazon</a></li>
    <li><a href="https://angel.co/mhendric" rel="me">AngelList</a></li>
    <li><a href="https://www.airbnb.com/users/show/4509964" rel="me">Airbnb</a></li>
    <li><a href="https://www.behance.net/mhendric" rel="me">Behance</a></li>
    <li><a href="http://dribbble.com/mhendric" rel="me">Dribbble</a></li>
    <li><a href="https://news.ycombinator.com/user?id=mhendric" rel="me">Hacker News</a></li>
    <li><a href="http://instagram.com/mhendric" rel="me">Instagram</a></li>
    <li><a href="http://facebook.com/markmhendrickson" rel="me">Facebook</a></li>
    <li><a href="https://foursquare.com/markymark" rel="me">Foursquare</a></li>
    <li><a href="http://github.com/markmhx" rel="me">GitHub</a></li>
    <li><a href="https://plus.google.com/+MarkHendrickson" rel="me">Google+</a></li>
    <li><a href="http://www.linkedin.com/in/markmhendrickson" rel="me">LinkedIn</a></li>
    <li><a href="https://medium.com/@markymark" rel="me">Medium</a></li>
    <li><a href="http://www.pinterest.com/mhendric/" rel="me">Pinterest</a></li>
    <li><a href="http://www.quora.com/Mark-Hendrickson" rel="me">Quora</a></li>
    <li><a href="http://www.rdio.com/#/people/mhendric/" rel="me">Rdio</a></li>
    <li><a href="http://stackoverflow.com/users/1816956/mark-hendrickson" rel="me">Stack Overflow</a></li>
    <li><a href="http://twitter.com/markymark" rel="me">Twitter</a></li>
    <li><a href="http://markmhendrickson.yelp.com/" rel="me">Yelp</a></li>
  </ul>
</div>

<div id="posts">
  <h1>Posts I've written</h1>
  <ul>
    {{#each post in model}}
      <li>
        <div class="post-published-at">{{formatDate post.publishedAt '%B %-d, %Y'}}</div>
        {{#link-to 'post' post}}{{post.title}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div style="clear: both;"></div>