<section class="intro">
  <div>
    <h1>Mark Hendrickson</h1>
    <div class="profession">Application and website creator</div>
    <div class="location">Barcelona, Spain</div>
    <ul>
      <li>Currently in <span>Dreta de L'Eixample</span></li>
      <li>Checked in 1 hour ago at <span>True Artisan Cafe</span></li>
      <li>Experiencing <span>warm weather and clear skies</span></li>
      <li>Last published <span>Avinguda 4th Avenue</span></li>
    </ul>
  </div>
</section>