<div class="post-meta">
  <div class="post-title">{{model.title}}</div>
  <div class="post-published-at">{{formatDate model.publishedAt '%B %-d, %Y'}}</div>
</div>
<div class="post-body">{{{markdown model.body}}}</div>